@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer base {
  body {
    @apply antialiased font-sans text-slate-600 bg-slate-50;
    background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
    background-size: 40px 40px;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
  }

  .glass-dark {
    @apply bg-slate-900/60 backdrop-blur-md border border-slate-700/50 shadow-2xl;
  }
}